<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="">

    <title> Utopia </title>


</head>

<body class="sub_page">
    <br />
    <div style="margin:0 auto;width:20em" class="text-center">
        <form method="post" enctype="multipart/form-data">
            <label>Id</label>
            <input required class="form-control" type="number" name="idjuego" />
            <br />
            <label>Nombre</label>
            <input required class="form-control" type="text" name="nombre" />
            <br />
            <label>Descripcion</label>
            <input required class="form-control" type="text" name="descripcion" />
            <br />
            <label>Categoria</label>
            <input required class="form-control" type="text" name="categoria" />
            <br />
            <label>Precio</label>
            <input required class="form-control" type="number" name="precio" />
            <br />
            <label>Foto</label>
            <input required class="form-control" type="file" name="foto" />
            <br />
            <button type="submit" class="btn btn-success">Crear Juego</button>
        </form>
    </div>

</body>

</html>