<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">

    <title> Utopia </title>


</head>

<body class="sub_page">

    <div class="hero_area">
        <div class="bg-box">
            <img src="https://storageproyectoamh.blob.core.windows.net/misc/hero-bg.jpg" />
        </div>
    </div>

    <!-- seccion de info -->

    <section class=" layout_padding" style="background-color:white">
        <div class="container  ">

            <div class="row">
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="https://storageproyectoamh.blob.core.windows.net/misc/about-img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Somos Utopia
                            </h2>
                        </div>
                        <br />
                        <p>
                            Utopia nació con la idea de crear un sitio de reunión con amigos o familiares donde
                            poder tomar algo. Como eso sonaba bastante normal decidimos darle un toque personal,
                            por eso decidimos incluir los juegos de mesa. En nuestro local podrás disfrutar de los mejores
                            aperitivos mientras juegas a alguno de nuestros juegos, los cuales van desde los típicos
                            juegos de cartas a incluso juegos de rol. Esperamos que la experiencia sea de tu agrado
                            y que pases un buen rato con los tuyos
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- fin de la seccion de info -->


</body>

</html>