<h1>Log In Api Utopia</h1>

<form method="post">
    <label>Email</label>
    <input type="text" name="email" class="form-control" />
    <br />
    <label>Password</label>
    <input type="text" name="password" class="form-control" />
    <br />
    <button type="submit" class="btn btn-info">
        Log In
    </button>
</form>
<h1>@ViewData["MENSAJE"]</h1>
<h2>@ViewData["TOKEN"]</h2>