@if (Context.User.Identity.IsAuthenticated == false)
{
    <div class="text-center">
        <a asp-controller="Home"
           asp-action="GoToHome"
           class="order_online">
            Log In
        </a>
    </div>
}
else
{
    <div class="text-center">
        <a asp-controller="Manage"
           asp-action="LogOut"
           class="order_online" style="background-color: #c41616">
            Log Out
        </a>
    </div>
}
